<ion-view view-title="My Offer">
    <div class="bar bar-header bar-light header-wrap">
        <div class="header-inner">
            <a href="#/app/location" class="h-location">
                <i class="ico w20 ico-location"></i>
            </a>
            <!-- END: LOCATION -->
            <!-- <a href="#" class="h-menu">
                Singapore <span>all</span>
            </a> -->
            <label class="item item-input item-select itm-head-menu">
                <select>
                    <option selected>Menu</option>
                    <option>Benefits</option>
                    <option>Employee Handbook</option>
                    <option>Health Card</option>
                </select>
            </label>
            <a href="#" class="h-search">
                <i class="fa fa-search"></i>
            </a>
            <!-- END: LOCATION -->
        </div>
    </div>
    <!-- END: HEADER -->
    <ion-content>
        <div class="content has-header ionic-pseudo pb-50">
            <div class="content-pagi clearfix">
                <ul>
                    <li>
                        <a
                        href="#/app/myoffer"
                        ng-class="{active : isActive('app/myoffer')}">
                            My Offers
                        </a>
                    </li>
                    <li ng-repeat="(key, tab) in businessTabs">
                        <a
                        href="#/app/businesstype/{{tab.id}}"
                        ng-class="{active : isActive('app/fb')}">
                            {{tab.name}}
                        </a>
                    </li>
                </ul>
            </div>
            <!-- -->
            <ion-list class="list">
                <div ng-repeat="(key, outlet) in outlet_list">
                    <a class="item item-thumbnail-left" href="#/app/store-detail/{{outlet.id}}">
                        <img ng-src="{{outlet.url_logo}}">
                        <h2>{{ outlet.name }}</h2>
                        <p class="address">{{outlet.outlet_address}}</p>
                        <div class="field-wrap">
                            <i class="fa fa-cutlery"></i>
                            <span>Bistro</span>
                        </div>
                    </a>
                </div>
                <!-- END -->
            </ion-list>
            <!-- END: LIST -->
            <ion-infinite-scroll
                ng-if="!noMoreItemsAvailable"
                on-infinite="loadOfferMore()"
                distance="1%">
            </ion-infinite-scroll>
        </div>
        <!-- END: CONTENT -->
    </ion-content>
    <div class="bar bar-footer bar-balanced bg-gray">
        <ul>
            <li>
                <a href="#/app/myoffer" title="Offers">
                    <i class="ico w20 ico-logo"></i>
                    Offers
                </a>
            </li>
            <li>
                <a href="#/app/location" title="Nearby">
                    <i class="fa fa-map-marker"></i>
                    Nearby
                </a>
            </li>
            <li>
                <a href="#" title="Favorites">
                    <i class="fa fa-star-o"></i>
                    Favorites
                </a>
            </li>
            <li>
                <a href="#" title="Savings">
                    <i class="fa fa-usd"></i>
                    Savings
                </a>
            </li>
            <li>
                <a href="#" title="Account">
                    <i class="fa fa-user"></i>
                    Account
                </a>
            </li>
        </ul>
    </div>
    <!-- END: FOOTER -->
</ion-view>
