<ion-view view-title="Contacts">
	<div class="visual-header"></div>
	<div class="content-page"
		ng-class="settings.fontsize">
		<div class="logo">
	        <a ng-if="org.logo"><img alt="{{org.name}}" ng-src="{{org.logo}}"></a>
	    </div>
	    <div ng-include="'templates/menu_tabs.html'"></div>
		<div class="list list-inset">
		  <label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="Search" ng-model="searchText">
		  </label>
		</div>
		<div class="list list-inset contact-list menu-tab-page">

			<div ng-repeat="(i, item) in contacts | filter:searchText | orderBy: 'alphabet' | groupBy : 'alphabet'">
	            <div class="item item-divider">
	            	<h2 class="title">{{i}}</h2>
				</div>
				<!-- {{contact.position.title}} -->
	            <div class="item" ng-repeat="contact in item" >
	                <h3 ng-if="contact.user.first_name">{{contact.user.first_name}}  {{contact.user.last_name}}</h3>
	                <p class="ctc-add l-tags">Singapore,
                        <span class="tag"
                            ng-repeat="tag in contact.tags._embedded.items | filter:{employee_class:true} | filter:{enabled:true}">
                            {{tag.name}}
                        </span>
                        <span class="tag"
                            ng-repeat="tag in contact.tags._embedded.items | filter:{employee_function:true} | filter:{enabled:true}">
                            {{tag.name}}
                        </span>
                    </p>
	                <div class="ctc-info">
		                <p>
		                    <b>M:</b>
		                    <a ng-href="tel:{{contact.user.mobile_no}}" ng-if="contact.user.mobile_no">{{contact.user.mobile_no}}</a>
                            <span ng-if="!contact.user.mobile_no">No number</span>
		                </p>
		                <p>
		                    <b>0:</b>
                            <a ng-href="tel:{{contact.user.office_no}}" ng-if="contact.user.office_no">{{contact.user.office_no}}</a>
                            <span ng-if="!contact.user.office_no">No number</span>
		                </p>
		                <p ng-if="contact.user.email">
		                    <b>E:</b>
		                    <a ng-href="mailto:{{contact.user.email}}">{{contact.user.email}}</a>
		                </p>
		            </div>
	            </div>
        	</div>
        </div>
        <!-- END: ITEM -->
    </div><!-- END : PAGE -->
</ion-view>
