<ion-view view-title="Cloud Book">
    <div class="visual-header"></div>
    <div class="content-page selectable" ng-class="settings.fontsize" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
        <div class="logo">
            <a ng-if="org.logo"><img alt="{{org.name}}" cache-src="{{org.logo}}"></a>
        </div>
        <div ng-include="'templates/menu_tabs.html'"></div>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="searchText">
            </label>
        </div>
        <div class="load-nocache" ng-if="!handbook">
            <p>No data! please connect the internet and click refresh.</p>
            <p>
                <a href="javascript:;" ng-click="refreshCached()">
                    <span class="ion-refresh" data-pack="default" data-tags="reload, renew"></span> REFRESH
                </a>
            </p>
        </div>
        <div class="row" ng-if="handbook" ng-hide="searchText">
            <!-- {{handbook | json}} -->
            <div class="col">
                <h2>{{handbook.lang['en_us'].title ? handbook.lang['en_us'].title : handbook.title}}</h2>
                <p>Version {{handbook.version}}, {{handbook.year}}</p>
                <p>Language: English</p>
            </div>
        </div>
        <div class="row" ng-hide="searchText">
            <div class="col" ng-bind-html="handbook.lang['en_us'].description"></div>
        </div>
        <div class="list menu-tab-page">
            <div ng-repeat="(key, section) in sections | filter:searchText | orderBy:'ordering'">
                <div class="item item-divider item-icon-left" ng-click="toggleGroup(section)" ng-class="{active: isGroupShown(section)}">
                    <h4 class="sec-title">
                        {{section.ordering}}. {{section.lang['en_us'].title ? section.lang['en_us'].title :
                        section.title}}
                        <i class="icon"
                           ng-class="isGroupShown(section) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"
                        ></i>
                    </h4>
                </div>

                <div class="item" ng-show="isGroupShown(section)">
                    <div class="section-ct" ng-show="section.lang['en_us'].description || section.description" ng-class="(section.children._embedded) ? '' : 'no-child'" zooming="true">
                        <div clas="sec-desc" ng-bind-html="section.lang['en_us'].description ? section.lang['en_us'].description : section.description">
                        </div>
                        <div ng-repeat="content in section.contents | orderBy:'ordering'">
                            <div class="sub-section-img" ng-if="content.type === 'image'">
                                <span class="load-img-bg">Loading Image</span>
                                <div class="sec-img-itm">
                                    <img cache-src="{{content.image_url}}" alt="" ng-click="openModalZImg(content.image_url)" />
                                </div>
                            </div>

                            <!-- PDF VIEWR -->
                            <div class="pdf-blk" ng-if="content.type === 'pdf'">
                                <span class="load-img-bg">Loading PDF</span>
                                <div class="s-pdf">
                                    <div class="pdf-f-ct">
                                        <span ng-click="openModalPDF(content)">
                                        <span class="ion-android-clipboard"></span> Click to view
                                        <span class="pdf-small">{{content.pdf_info.name}}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-if="content.type === 'html'">
                                <div class="col" ng-bind-html="content.content_html"></div>
                            </div>
                        </div>

                    </div>
                    <div class="sub-section" ng-if="section.children._embedded.items.length > 0" ng-repeat="(k, child) in section.children._embedded.items | orderBy:'ordering'">

                        <h4 ng-click="toggleSubGroup(child)">{{section.ordering}}.{{child.ordering}} -
                            {{child.lang['en_us'].title ? child.lang['en_us'].title : child.title }}</h4>
                        <div class="sub-section-ct" zooming="true" ng-show="isSubGroupShown(child)">
                            <div clas="sec-desc" ng-bind-html="child.lang['en_us'].description ? child.lang['en_us'].description : child.description">
                            </div>
                            <div ng-repeat="content in child.contents | orderBy:'ordering'">
                                <div class="sub-section-img" ng-if="content.type === 'image'">
                                    <span class="load-img-bg">Loading Image</span>
                                    <div class="sec-img-itm">
                                        <img cache-src="{{content.image_url}}" alt="" ng-click="openModalZImg(content.image_url)" />
                                    </div>
                                </div>

                                <!-- PDF VIEWR -->
                                <div class="pdf-blk" ng-if="content.type === 'pdf'">
                                    <span class="load-img-bg">Loading PDF</span>
                                    <div class="s-pdf">
                                        <div class="pdf-f-ct">
                                            <span ng-click="openModalPDF(content)">
                                        <span class="ion-android-clipboard"></span> Click to view
                                            <span class="pdf-small">{{content.pdf_info.name}}</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" ng-if="content.type === 'html'">
                                    <div class="col" ng-bind-html="content.content_html"></div>
                                </div>
                            </div>




                        </div>
                    </div>

                </div>
                <!-- SUB SECTIONS -->
            </div>
            <!-- MODAL ZOOM IMG -->
            <script id="templates/modal-zoom-img.html" type="text/ng-template">
                <ion-modal-view>
                    <ion-header-bar class="bar bar-header bar-stable">
                        <h1 class="title">{{tmodal.title}}</h1>
                        <button class="button button-clear button-primary" ng-click="modal.hide()">Close</button>
                    </ion-header-bar>
                    <ion-content class="padding platform-android" scroll="false">
                        <ion-scroll ng-if="tmodal.type == 'zimg'" zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" overflow-scroll="false" scrollbar-x="false" scrollbar-y="false">
                            <img cache-src="{{fileUrl}}" />
                        </ion-scroll>
                        <ion-scroll ng-if="tmodal.type == 'pdf'" zooming="true" direction="xy" delegate-handle="zoom-pane" class="pdf-z zoom-pane" min-zoom="1" overflow-scroll="false" scrollbar-x="false" scrollbar-y="false">
                            <pdf-viewer delegate-handle="my-pdf-container" class="pdf-viewer-b" url="pdfUrl" scale="1" show-toolbar="true" headers="pdfUrl.pdf_info.name"></pdf-viewer>
                        </ion-scroll>
                    </ion-content>
                </ion-modal-view>
            </script>
        </div>
    </div>
    </div>
</ion-view>