<ion-view view-title="Handbook" >
    <div class="visual-header"></div>
	<div class="content-page"
        ng-class="settings.fontsize">
		<div class="logo">
	        <a ng-if="org.logo"><img alt="{{org.name}}" ng-src="{{org.logo}}"></a>
	    </div>
        <div ng-include="'templates/menu_tabs.html'"></div>
	    <div class="list list-inset">
		  <label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="Search" ng-model="searchText">
		  </label>
		</div>
        <div class="load-nocache" ng-if="!handbook">
            <p>No data! please connect the internet and click refresh.</p>
            <p><a href="javascript:;" ng-click="refreshCached()">
                <span class="ion-refresh" data-pack="default" data-tags="reload, renew"></span>
                REFRESH
            </a></p>
        </div>
		<div class="row" ng-if="handbook" ng-hide="searchText">
			<div class="col">
                <h2>{{handbook.lang['en-us'].title ? handbook.lang['en-us'].title : handbook.title}}</h2>
                <p>Version {{handbook.version}},  {{handbook.year}}</p>
                <p>Language: English</p>
            </div>
		</div>
		<div class="row" ng-hide="searchText">
			<div class="col" ng-bind-html="handbook.lang['en_us'].description"></div>
		</div>
        <div class="list menu-tab-page">
        	<div ng-repeat="(key, section) in sections | filter:searchText | orderBy:'version'">
        		<div class="item item-divider item-icon-left"
                    ng-click="toggleGroup(section)"
                    ng-class="{active: isGroupShown(section)}">
					<h4 class="sec-title">
                        {{section.version}}. {{section.lang['en_us'].title ? section.lang['en_us'].title : section.title}}

					    <i class="icon"
                        ng-class="isGroupShown(section) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"
                        ></i>
                    </h4>
				</div>
				<div class="item"
                    ng-show="isGroupShown(section)" >
                    <div class="section-ct"
                        ng-show="section.lang['en_us'].description || section.description"
                        ng-class="(section.children._embedded) ? '' : 'no-child'"
                        ng-bind-html="section.lang['en_us'].description ? section.lang['en_us'].description : section.description"
                        ></div>
                    <div class="sub-section"
                        ng-if="section.children._embedded.items.length > 0"
                        ng-repeat="(k, child) in section.children._embedded.items"
                        >
                        <h4 ng-click="toggleSubGroup(child)">{{key + 1}}.{{k + 1}} - {{child.lang['en_us'].title ? child.lang['en_us'].title : child.title }}</h4>
                        <div class="sub-section-ct" ng-bind-html="child.lang['en_us'].description ? child.lang['en_us'].description : child.description" ng-show="isSubGroupShown(child)"></div>
                    </div><!-- SUB SECTIONS -->
                </div>
        	</div>
		</div>
	</div>
</ion-view>
