<ion-view view-title="Kids">
    <div class="bar bar-header bar-light header-wrap">
        <div class="header-inner">
            <a href="#/app/location#" class="h-location">
                <i class="ico w20 ico-location"></i>
            </a>
            <!-- END: LOCATION -->
            <a href="#" class="h-menu">
                Singapore <span>all</span>
            </a>
            <a href="#" class="h-search">
                <i class="fa fa-search"></i>
            </a>
            <!-- END: LOCATION -->
        </div>
    </div>
    <!-- END: HEADER -->
    <ion-content>
        <div class="content has-header ionic-pseudo pb-50">
            <div class="content-pagi clearfix">
                <ul>
                    <li>
                        <a
                        href="#/app/myoffer"
                        ng-class="{active : isActive('app/myoffer')}">
                            My Offers
                        </a>
                    </li>
                    <li>
                        <a
                        href="#/app/fb"
                        ng-class="{active : isActive('app/fb')}">
                            F&B
                        </a>
                    </li>
                    <li>
                        <a
                        href="#/app/health"
                        ng-class="{active : isActive('app/health')}">
                            Health
                        </a>
                    </li>
                    <li>
                        <a
                        href="#/app/kids"
                        ng-class="{active : isActive('app/kids')}">
                            Kids
                        </a>
                    </li>
                </ul>
            </div>
            <!-- -->
            <div class="list">
                <a class="item item-thumbnail-left" href="#">
                    <img src="images/logo-kids.jpg">
                    <h2>Mr Punch Public House</h2>
                    <p class="address">26 Seah Street, 300m</p>
                    <div class="field-wrap">
                        <i class="fa fa-car"></i>
                        <span>Bistro</span>
                    </div>
                </a>
                <!-- END -->
                <a class="item item-thumbnail-left" href="#">
                    <img src="images/logo-kids.jpg">
                    <h2>The Boiler Louisiana Seafood & Beer</h2>
                    <p class="address">Novelty BizCentre, 350m</p>
                    <div class="field-wrap">
                        <i class="fa fa-fighter-jet"></i>
                        <span>Bistro</span>
                    </div>
                </a>
                <!-- END -->
                <a class="item item-thumbnail-left" href="#">
                    <img src="images/logo-kids.jpg">
                    <h2>Salads Wraps and Greens</h2>
                    <p class="address">The Commerze, 450m</p>
                    <div class="field-wrap">
                        <i class="fa fa-car"></i>
                        <span>Salads</span>
                    </div>
                </a>
                <!-- END -->
                <a class="item item-thumbnail-left" href="#">
                    <img src="images/logo-kids.jpg">
                    <h2>Mr Punch Public House</h2>
                    <p class="address">26 Seah Street, 300m</p>
                    <div class="field-wrap">
                        <i class="fa fa-plane"></i>
                        <span>Bistro</span>
                    </div>
                </a>
                <!-- END -->
                <a class="item item-thumbnail-left" href="#">
                    <img src="images/logo-kids.jpg">
                    <h2>The Boiler Louisiana Seafood & Beer</h2>
                    <p class="address">Novelty BizCentre, 350m</p>
                    <div class="field-wrap">
                        <i class="fa fa-fighter-jet"></i>
                        <span>Bistro</span>
                    </div>
                </a>
                <!-- END -->
                <a class="item item-thumbnail-left" href="#">
                    <img src="images/logo-kids.jpg">
                    <h2>Salads Wraps and Greens</h2>
                    <p class="address">The Commerze, 450m</p>
                    <div class="field-wrap">
                        <i class="fa fa-car"></i>
                        <span>Salads</span>
                    </div>
                </a>
                <!-- END -->
                <a class="item item-thumbnail-left" href="#">
                    <img src="images/logo-kids.jpg">
                    <h2>Mr Punch Public House</h2>
                    <p class="address">26 Seah Street, 300m</p>
                    <div class="field-wrap">
                        <i class="fa fa-car"></i>
                        <span>Bistro</span>
                    </div>
                </a>
                <!-- END -->
                <a class="item item-thumbnail-left" href="#">
                    <img src="images/logo-kids.jpg">
                    <h2>The Boiler Louisiana Seafood & Beer</h2>
                    <p class="address">Novelty BizCentre, 350m</p>
                    <div class="field-wrap">
                        <i class="fa fa-plane"></i>
                        <span>Bistro</span>
                    </div>
                </a>
                <!-- END -->
                <a class="item item-thumbnail-left" href="#">
                    <img src="images/logo-kids.jpg">
                    <h2>Salads Wraps and Greens</h2>
                    <p class="address">The Commerze, 450m</p>
                    <div class="field-wrap">
                        <i class="fa fa-car"></i>
                        <span>Salads</span>
                    </div>
                </a>
                <!-- END -->
            </div>
            <!-- END: LIST -->
        </div>
        <!-- END: CONTENT -->
    </ion-content>
    <div class="bar bar-footer bar-balanced bg-gray">
        <ul>
            <li>
                <a href="#/app/myoffer" title="Offers">
                    <i class="ico w20 ico-logo"></i>
                    Offers
                </a>
            </li>
            <li>
                <a href="#/app/location" title="Nearby">
                    <i class="fa fa-map-marker"></i>
                    Nearby
                </a>
            </li>
            <li>
                <a href="#" title="Favorites">
                    <i class="fa fa-star-o"></i>
                    Favorites
                </a>
            </li>
            <li>
                <a href="#" title="Savings">
                    <i class="fa fa-usd"></i>
                    Savings
                </a>
            </li>
            <li>
                <a href="#" title="Account">
                    <i class="fa fa-user"></i>
                    Account
                </a>
            </li>
        </ul>
    </div>
    <!-- END: FOOTER -->
</ion-view>
