<ion-view view-title="Location">
    <!-- <div class="bar bar-header bar-light header-wrap">
        <div class="header-inner">
            <a href="#" class="h-location-menu">
                <i class="fa fa-bars"></i>
            </a>
            <a href="#" class="h-menu">
                Singapore <span>all</span>
            </a>
            <a href="#" class="h-search">
                <i class="fa fa-search"></i>
            </a>
        </div>
    </div> -->
    <!-- END: HEADER -->
    <ion-content>
        <div class="content has-header t22 ionic-pseudo pb-50">
            <div class="content-pagi clearfix maps-pagi">
                <ul class="clearfix">
                    <li>
                        <a
                        href="#/app/myoffer"
                        ng-class="{active : isActive('app/myoffer')}">
                            My Offers
                        </a>
                    </li>
                    <li class="has-child">
                        <a ng-click="showMore()">
                            More
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END PAGI -->

            <div class="blk-maps" ng-init="init()">
                <div id="map" data-tap-disabled="true" ></div>
            </div>
        </div>
        <!-- END: CONTENT -->
    </ion-content>
    <div class="more-dropdown" ng-show="isShowMore">
        <div class="more-dropdown-inner">
            <ul class="tab-list">
                <li ng-repeat="(key, tab) in businessTabs">
                    <a
                    href="#/app/buninesstype/{{tab.id}}"
                    ng-class="{active : isActive('app/fb')}">
                        {{tab.name}}
                    </a>
                </li>
            </ul>
            <!-- END: LIST -->
            <a class="more-tab" ng-click="MoreTab()">
                <i class="fa fa-plus"></i>
                More
            </a>
            <a class="out_close" ng-click="hideMore()">
                Close
            </a>
        </div>
    </div>
    <!-- END : MORE OUTLET -->
    <div class="blur">
    </div>
</ion-view>
