<ion-view hide-nav-bar="true" hide-side-menu="true">
  <ion-content>
    <div class="logo">
        <a href="#/">
          <img alt="" src="img/logo.png">
        </a>
    </div>
    <form ng-submit="doLogin()">
      <div class="list list-inset frm">
        <p class="login-itm">
          <label class="login-input"
            ng-class="{invalid: noCompayCode}">
            <input type="text" ng-model="loginData.email" placeholder="Email" class="ipt">
          </label>
        </p>
        <p>
          <label class="login-input"
            ng-class="{invalid: noUserCode}">
            <input type="password" ng-model="loginData.user_code" placeholder="Member Key" class="ipt">
          </label>
        </p>
        <p class="login-itm">
          <input type="checkbox" id="chk_agree" name="chk_agree">
          <label for="#chk_agree">
            I have read and agree to the <a href="#">T&Cs</a>
          </label>
        </p>
        <p>
          <button class="button button-block button-orange login-btn" type="submit">LOGIN</button>
        </p>
        <p class="login-itm t-c">
          <a href="#">I forgot my Member Key</a>
        </p>
      </div>
    </form>
    <div class="login-caption-blk">
      <p class="t-c">EmBenefit is available exclusively to employees of companies that have signed up for an account with EmBenefit. If you would like to learn more about our employee benefit program.  Contact us by filling up the enquiry form below or visit our website.</p>
      <p>
        <a href="#" class="t-c btn btn-dark">Visit Website</a>
      </p>
      <p>
        <a href="#" class="t-c btn btn-dark">Enquiry</a>
      </p>
    </div>
  </ion-content>
</ion-view>
