<ion-view hide-nav-bar="true" hide-side-menu="true">
  <ion-content>
    <div class="logo">
        <a href="#/">
          <img width="278px" height="81px" alt="" src="img/logo3.png">
        </a>
    </div>
    <form ng-submit="doLogin()">
      <div class="list list-inset">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <button class="button button-block button-energized" type="submit">
          LOGIN
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
