<ion-view hide-nav-bar="true" hide-side-menu="true">
    <div class="bar bar-header bar-light">
        <div class="header-inner t-c head-ctent">
            <a href="#" title="Back" class="h-back">
                <i class="fa fa-chevron-left"></i>
            </a>
            Mr Punch Public House
        </div>
    </div>
    <!-- END: HEADER -->
    <ion-content class="main-course t-c">
        <div class="content has-header ionic-pseudo pb-50">
            <div class="mc-logo">
                <img src="images/coffee-bean-logo.jpg" alt="">
            </div>
            <!-- END LOGO -->
            <h2 class="course-ttl">Main Course</h2>
            <p>Company Name: Magenta Consulting</p>
            <p>Employee Name: Kenneth Yap</p>
            <ul class="clearfix input-course">
                <li>
                    <input type="password" class="ipt" maxlength="1">
                </li>
                <li>
                    <input type="password" class="ipt" maxlength="1">
                </li>
                <li>
                    <input type="password" class="ipt" maxlength="1">
                </li>
                <li>
                    <input type="password" class="ipt" maxlength="1">
                </li>
            </ul>
            <p class="large italic">Enter your 4-Digit Pin to Redeem</p>
        </div>
        <!-- END: CONTENT -->
    </ion-content>
</ion-view>
