<ion-view view-title="Main Course">
    <div class="bar bar-header bar-light header-wrap">
        <div class="header-inner t-c head-ctent">
            <a href="#" title="Back" class="h-back">
                <i class="fa fa-chevron-left"></i>
                {{outlets_promo.company_name}}
            </a>
        </div>
    </div>
    <!-- END: HEADER -->
    <ion-content class="main-course t-c" ng-class="redeem_cls">
        <div class="content has-header ionic-pseudo pb-50">
            <div class="mc-logo">
                <img ng-src="{{outlets_promo.logo}}" ng-alt="{{outlets_promo.company_name}}">
            </div>
            <!-- END LOGO -->
            <h2 class="course-ttl">{{outlets_promo.name}}</h2>
            <p>Company Name: {{outlets_promo.company_name}}</p>
            <p>Employee Name:  {{user.user.first_name}} {{user.user.last_name}}</p>
            <div class="redeem-box-blk" ng-if="!msg_error">
                <p class="large">You don't have Redeem Code, go back!</p>
            </div>
            <div class="redeem-box-blk" ng-if="msg_error">
            <form ng-submit="submitPin()">
                <p class="large">{{msg_error}}</p>

                <ul class="clearfix input-course">
                    <li>
                        <input type="tel" ng-model="pin_code[0]" class="ipt" maxlength="1" id="pin-1">
                    </li>
                    <li>
                        <input type="tel" ng-model="pin_code[1]" class="ipt" maxlength="1" id="pin-2">
                    </li>
                    <li>
                        <input type="tel" ng-model="pin_code[2]"class="ipt" maxlength="1" id="pin-3">
                    </li>
                    <li>
                        <input type="tel" ng-model="pin_code[3]" class="ipt" maxlength="1" id="pin-4">
                    </li>
                </ul>
                <p class="bton-blk clearfix">
                    <button type="submit"
                        class="btn btn-yellow">{{btn_text}}</button>
                </p>
            </form>
            </div>
        </div>
        <!-- END: CONTENT -->
    </ion-content>
</ion-view>
