<ul>
    <li>
        <a
        href="#/app/myoffer"
        ng-class="{active : isActive('app/myoffer')}">
            My Offers
        </a>
    </li>
    <li>
        <a
        href="#/app/fb"
        ng-class="{active : isActive('app/fb')}">
            F&B
        </a>
    </li>
    <li>
        <a
        href="#/app/health"
        ng-class="{active : isActive('app/health')}">
            Health
        </a>
    </li>
    <li>
        <a
        href="#/app/kids"
        ng-class="{active : isActive('app/kids')}">
            Kids
        </a>
    </li>
</ul>
