<ion-view hide-nav-bar="true" hide-side-menu="true">
    <div class="bar bar-header bar-light">
        <div class="header-inner">
            <a href="#" class="h-location">
                <i class="ico w20 ico-location"></i>
            </a>
            <!-- END: LOCATION -->
            <a href="#" class="h-menu">
                Singapore <span>all</span>
            </a>
            <a href="#" class="h-search">
                <i class="fa fa-search"></i>
            </a>
            <!-- END: LOCATION -->
        </div>
    </div>
    <!-- END: HEADER -->
    <ion-content>
        <div class="content has-header ionic-pseudo pb-50">
            <ul class="menu-demo">
                <li>
                    <a href="#/app/login">Login</a>
                </li>
                <li>
                    <a href="#/app/myoffer">My Offer</a>
                </li>
                <li>
                    <a href="#/app/fb">F&B</a>
                </li>
                <li>
                    <a href="#/app/health">Health</a>
                </li>
                <li>
                    <a href="#/app/kids">Kid</a>
                </li>
                <li>
                    <a href="#/app/location">Location</a>
                </li>
                <li>
                    <a href="#/app/store-detail">Detail</a>
                </li>
                <li>
                    <a href="#/app/main-course">Main Course</a>
                </li>
            </ul>
        </div>
        <!-- END: CONTENT -->
    </ion-content>
    <div class="bar bar-footer bar-balanced bg-gray">
        <ul>
            <li>
                <a href="#" title="Offers">
                    <i class="ico w20 ico-logo"></i>
                    Offers
                </a>
            </li>
            <li>
                <a href="#" title="Nearby">
                    <i class="fa fa-map-marker"></i>
                    Nearby
                </a>
            </li>
            <li>
                <a href="#" title="Favorites">
                    <i class="fa fa-star-o"></i>
                    Favorites
                </a>
            </li>
            <li>
                <a href="#" title="Savings">
                    <i class="fa fa-usd"></i>
                    Savings
                </a>
            </li>
            <li>
                <a href="#" title="Account">
                    <i class="fa fa-user"></i>
                    Account
                </a>
            </li>
        </ul>
    </div>
    <!-- END: FOOTER -->
</ion-view>
