<ion-side-menus enable-menu-with-back-views="true" >
  <ion-side-menu-content>
    <ion-nav-bar class="bar-energized">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <!-- SIDE BAR MENU-->
  <ion-side-menu side="left" ng-if="isSigned">
    <ion-header-bar class="bar-energized">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="mmmenu" menu-close href="#/app/login" ng-if="!isSigned">
           <i class="icon ion-log-in"></i>
           Login
        </ion-item>
        <ion-item class="mmmenu" menu-close href="#/app/myoffer" ng-if="isSigned">
           <i class="fa fa-briefcase"></i>
           My Offer
        </ion-item>
        <ion-item class="mmmenu" menu-close href="#/app/fb" ng-if="isSigned">
           <i class="fa fa-cutlery"></i>
           F&B
        </ion-item>
        <ion-item class="mmmenu" menu-close href="#/app/health" ng-if="isSigned">
           <i class="fa fa-heartbeat"></i>
           Health
        </ion-item>
        <ion-item class="mmmenu" menu-close href="#/app/kids" ng-if="isSigned">
           <i class="fa fa-child"></i>
           Kid
        </ion-item>
        <ion-item class="mmmenu" menu-close href="#/app/location" ng-if="isSigned">
           <i class="fa fa-map-marker"></i>
           Location
        </ion-item>
        <!-- <ion-item class="mmmenu" menu-close href="#/app/store-detail" ng-if="isSigned">
           <i class="fa fa-home"></i>
           Detail
        </ion-item> -->
        <ion-item class="mmmenu" menu-close href="#/app/main-course" ng-if="isSigned">
           <i class="fa fa-server"></i>
           Main Course
        </ion-item>
        <ion-item class="mmmenu" menu-close href="#/app/logout" ng-if="isSigned">
           <i class="icon ion-log-out"></i>
           Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
