<ion-side-menus enable-menu-with-back-views="true" >
  <ion-side-menu-content>
    <ion-nav-bar class="bar-energized">
      
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <!-- SIDE BAR MENU-->
  <ion-side-menu side="left" ng-if="isSigned">
    <ion-header-bar class="bar-energized">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/login" ng-if="!isSigned">
           <i class="icon ion-log-in"></i>
           Login
        </ion-item>
        <ion-item menu-close href="#/app/handbook" ng-if="isSigned">
           <i class="icon ion-ios-bookmarks"></i>
           Employee Handbook
        </ion-item>
        <ion-item menu-close href="#/app/contacts" ng-if="isSigned">
           <i class="icon ion-android-contacts"></i>
           Contacts
        </ion-item>
        <ion-item href="#/app/notification" ng-if="isSigned">
           <i class="icon ion-android-notifications-none"></i>
           Notifcations
        </ion-item>
        <ion-item menu-close href="#/app/logout" ng-if="isSigned">
           <i class="icon ion-log-out"></i>
           Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
