<ion-view hide-nav-bar="true" hide-side-menu="true">
    <div class="bar bar-header bar-light">
        <div class="header-inner">
            <a href="#" class="h-location">
                <i class="ico ico-location"></i>
            </a>
            <!-- END: LOCATION -->
            <a href="#" class="h-menu">
                Singapore <span>all</span>
            </a>
            <a href="#" class="h-search">
                <i class="fa fa-search"></i>
            </a>
            <!-- END: LOCATION -->
        </div>
    </div>
    <!-- END: HEADER -->
    <ion-content>
        <div class="content has-header ionic-pseudo pb-50">
            <div class="list">
                <a class="item item-thumbnail-left" href="#">
                    <img src="images/coffee-bean-logo.jpg">
                    <h2>Mr Punch Public House</h2>
                    <p class="address">26 Seah Street, 300m</p>
                    <div class="field-wrap">
                        <i class="fa fa-cutlery"></i>
                        <span>Bistro</span>
                    </div>
                </a>
                <!-- END -->
                <a class="item item-thumbnail-left" href="#">
                    <img src="images/coffee-bean-logo.jpg">
                    <h2>The Boiler Louisiana Seafood & Beer</h2>
                    <p class="address">Novelty BizCentre, 350m</p>
                    <div class="field-wrap">
                        <i class="fa fa-beer"></i>
                        <span>Bistro</span>
                    </div>
                </a>
                <!-- END -->
                <a class="item item-thumbnail-left" href="#">
                    <img src="images/coffee-bean-logo.jpg">
                    <h2>Salads Wraps and Greens</h2>
                    <p class="address">The Commerze, 450m</p>
                    <div class="field-wrap">
                        <i class="fa fa-cutlery"></i>
                        <span>Salads</span>
                    </div>
                </a>
                <!-- END -->
                <a class="item item-thumbnail-left" href="#">
                    <img src="images/coffee-bean-logo.jpg">
                    <h2>Mr Punch Public House</h2>
                    <p class="address">26 Seah Street, 300m</p>
                    <div class="field-wrap">
                        <i class="fa fa-coffee"></i>
                        <span>Bistro</span>
                    </div>
                </a>
                <!-- END -->
                <a class="item item-thumbnail-left" href="#">
                    <img src="images/coffee-bean-logo.jpg">
                    <h2>The Boiler Louisiana Seafood & Beer</h2>
                    <p class="address">Novelty BizCentre, 350m</p>
                    <div class="field-wrap">
                        <i class="fa fa-beer"></i>
                        <span>Bistro</span>
                    </div>
                </a>
                <!-- END -->
                <a class="item item-thumbnail-left" href="#">
                    <img src="images/coffee-bean-logo.jpg">
                    <h2>Salads Wraps and Greens</h2>
                    <p class="address">The Commerze, 450m</p>
                    <div class="field-wrap">
                        <i class="fa fa-cutlery"></i>
                        <span>Salads</span>
                    </div>
                </a>
                <!-- END -->
                <a class="item item-thumbnail-left" href="#">
                    <img src="images/coffee-bean-logo.jpg">
                    <h2>Mr Punch Public House</h2>
                    <p class="address">26 Seah Street, 300m</p>
                    <div class="field-wrap">
                        <i class="fa fa-cutlery"></i>
                        <span>Bistro</span>
                    </div>
                </a>
                <!-- END -->
                <a class="item item-thumbnail-left" href="#">
                    <img src="images/coffee-bean-logo.jpg">
                    <h2>The Boiler Louisiana Seafood & Beer</h2>
                    <p class="address">Novelty BizCentre, 350m</p>
                    <div class="field-wrap">
                        <i class="fa fa-coffee"></i>
                        <span>Bistro</span>
                    </div>
                </a>
                <!-- END -->
                <a class="item item-thumbnail-left" href="#">
                    <img src="images/coffee-bean-logo.jpg">
                    <h2>Salads Wraps and Greens</h2>
                    <p class="address">The Commerze, 450m</p>
                    <div class="field-wrap">
                        <i class="fa fa-cutlery"></i>
                        <span>Salads</span>
                    </div>
                </a>
                <!-- END -->
            </div>
            <!-- END: LIST -->
        </div>
        <!-- END: CONTENT -->
    </ion-content>
    <div class="bar bar-footer bar-balanced bg-gray">
        <ul>
            <li>
                <a href="#" title="Offers">
                    <i class="fa fa-map-marker"></i>
                    Offers
                </a>
            </li>
            <li>
                <a href="#" title="Nearby">
                    <i class="fa fa-map-marker"></i>
                    Nearby
                </a>
            </li>
            <li>
                <a href="#" title="Favorites">
                    <i class="fa fa-star-o"></i>
                    Favorites
                </a>
            </li>
            <li>
                <a href="#" title="Savings">
                    <i class="fa fa-usd"></i>
                    Savings
                </a>
            </li>
            <li>
                <a href="#" title="Account">
                    <i class="fa fa-user"></i>
                    Account
                </a>
            </li>
        </ul>
    </div>
    <!-- END: FOOTER -->
</ion-view>
