<ion-view view-title="Notification">
	<div class="visual-header"></div>
	<div class="content-page">
		<div class="logo">
	        <a ng-if="org.logo"><img alt="{{org.name}}" ng-src="{{org.logo}}"></a>
	    </div>
		<div class="list list-inset">
			<div class="msg-item">
				<span class="meta-time">21.10.15 at 1:20 am</span>
				<div class="msg-ct">
					Our powerful all-in-one software platform is designed to allow creative and marketing teams to manage their workflows and streamline their processes.
				</div>
			</div>
			<div class="msg-item">
				<span class="meta-time">21.10.15 at 1:20 am</span>
				<div class="msg-ct">
					Our powerful all-in-one software platform is designed to allow creative and marketing teams to manage their workflows and streamline their processes.
				</div>
			</div>
			<div class="msg-item">
				<span class="meta-time">21.10.15 at 1:20 am</span>
				<div class="msg-ct">
					Our powerful all-in-one software platform is designed to allow creative and marketing teams to manage their workflows and streamline their processes.
				</div>
			</div>
        </div>
        <!-- END: ITEM -->
    </div><!-- END : PAGE -->
</ion-view>
