<ion-view view-title="Notification">
	<div class="visual-header"></div>
	<div class="content-page">
		<div class="logo">
	        <a><img alt="logo" src="img/logo3.png"></a>
	    </div>
	    
		<div class="list list-inset">
		  <label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="Search" ng-model="searchText">
		  </label>
		</div>
		<div class="list list-inset contact-list menu-tab-page"> 
			Notification
        </div>
        <!-- END: ITEM -->
    </div><!-- END : PAGE -->
</ion-view>
