<ion-view view-title="Notification">
	<div class="visual-header"></div>
	<div class="content-page"
		ng-class="settings.fontsize">
		<div class="logo">
	        <!--<a ng-if="org.logo"><img alt="{{org.name}}" ng-src="{{org.logo}}"></a>-->
			<a href="#/">
				<img width="278px" height="81px" alt="" src="img/logo_fiduca.png">
			</a>
	    </div>
		<div class="list list-inset">
			<div class="msg-item"
				ng-class="{new: !item.read}"
				ng-repeat="(i, item) in notifis._embedded.items"
				ng-click="readIt(item, this)">
				<h4 class="msg-ttl">{{item.subject}}</h4>
				<span class="meta-time">At {{item.created_at | date: 'h:mm a, M.d.yy'}}</span>
				<div class="msg-ct">{{item.body}}</div>
			</div>
        </div>
        <div class="t-c" ng-if="!notifis._embedded.items.length">No notification</div>
        <!-- END: ITEM -->
    </div><!-- END : PAGE -->
</ion-view>
