<ion-view hide-nav-bar="true" hide-side-menu="true">
    <div class="bar bar-header bar-light">
        <div class="header-inner t-c head-ctent">
            <a href="#" title="Back" class="h-back">
                <i class="fa fa-chevron-left"></i>
            </a>
            Mr Punch Public House

        </div>
    </div>
    <!-- END: HEADER -->
    <ion-content>
        <div class="content has-header ionic-pseudo pb-50">
            <figure class="store-img">
                <img src="images/restaurant.jpg" alt="">
            </figure>
            <div class="list">
                <a class="item item-nbd item-thumbnail-left" href="#">
                    <img src="images/coffee-bean-logo.jpg">
                    <h2>Mr Punch Public House</h2>
                    <p class="direction">26 Seah Street</p>
                    <p class="address">Bistro, 300m</p>
                </a>
                <div class="area">
                    Area: Central:
                    <span>Brash Bahsa</span>
                </div>
            </div>
            <!-- END -->
        </div>
        <!-- END: CONTENT -->
    </ion-content>
    <div class="bar bar-footer bar-balanced bg-gray">
        <ul>
            <li>
                <a href="#" title="Offers">
                    <i class="ico w20 ico-logo"></i>
                    Offers
                </a>
            </li>
            <li>
                <a href="#" title="Nearby">
                    <i class="fa fa-map-marker"></i>
                    Nearby
                </a>
            </li>
            <li>
                <a href="#" title="Favorites">
                    <i class="fa fa-star-o"></i>
                    Favorites
                </a>
            </li>
            <li>
                <a href="#" title="Savings">
                    <i class="fa fa-usd"></i>
                    Savings
                </a>
            </li>
            <li>
                <a href="#" title="Account">
                    <i class="fa fa-user"></i>
                    Account
                </a>
            </li>
        </ul>
    </div>
    <!-- END: FOOTER -->
</ion-view>
