<ion-view view-title="Detail">
    <div class="bar bar-header bar-light header-wrap">
        <div class="header-inner t-c head-ctent">
            <a href="#" title="Back" class="h-back">
                <i class="fa fa-chevron-left"></i>
            </a>
            {{detail_outlet.name}}

        </div>
    </div>
    <!-- END: HEADER -->
    <ion-content>
        <div class="content has-header ionic-pseudo pb-50">
            <figure class="store-img">
                <img ng-src="{{detail_outlet.banner}}" alt="">
            </figure>
            <!-- END: IMG -->
            <div class="list store-info">
                <a class="item item-nbd item-thumbnail-left" href="#">
                    <img ng-src="{{detail_outlet.logo}}">
                    <h2>{{detail_outlet.name}}</h2>
                    <p class="direction">{{detail_outlet.outlet_address}}</p>
                    <p class="address">Bistro, 300m</p>
                </a>
                <div class="area">
                    Area: Central:
                    <span>Brash Bahsa</span>
                </div>
            </div>
            <!-- END INFO -->
            <div class="menu-pagi clearfix">
                <ul>
                    <li>
                        <a
                        href="#/app/store-detail/{{detail_outlet.id}}"
                        title="About"
                        class="active">
                        About</a>
                    </li>
                    <li>
                        <a
                        href="#/app/store-contact/{{detail_outlet.id}}"
                        title="Contact">Contact</a>
                    </li>
                    <li>
                        <a
                        href=""
                        title="Locations">Locations</a>
                    </li>
                    <li>
                        <a href="" title="Menu">Menu</a>
                    </li>
                </ul>
            </div>
            <!-- END: MENU -->
            <div
            class="store-desc"
            ng-bind-html="detail_outlet.about_company">
            </div>
            <!-- END: DESC -->
            <div class="store-offer">
                <h3 class="store-offer-ttl">OFFER PROVIDED BY MERCHANT</h3>
                <span class="cap">Click on offers below to Redeem or to view details</span>

                <div ng-repeat="(key, promotion) in detail_outlet.promotions._embedded.items">
                    <div
                    ng-click="openModalPromotion(detail_outlet, key)"
                    class="offer-itm clearfix">
                        <figure class="fir-icon">
                            <i class="fa fa-cutlery"></i>
                        </figure>
                        <div class="offer-info">
                            <h4>{{promotion.title}}</h4>
                            <span>EXPIRES {{promotion.expire_on  | date:'dd MMM yyyy'}}</span>
                        </div>
                    </div>
                </div>
                <!-- END: ITM -->

            </div>
            <!-- END: OFFER -->
        </div>
        <!-- END: CONTENT -->
        <script type="text/ng-template" id="myPromotion.html">
            <div class="md-offer">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{outlet_info.name}}</h4>
                  </div>
                  <div class="modal-body">
                    <div class="md-body-inner">
                        <div class="md-logo">
                            <img ng-src="{{outlet_info.logo}}">
                        </div>
                        <!-- END LOGO -->
                        <h2 class="md-ttl">{{md_promotion.title}}</h2>
                        <div class="md-caption">
                            Enjoy a complimentary
                            <a href='#'>MAIN MENU ITEM</a> when a <a href='#'>MAIN MENU ITEM</a> of equal or greater value is purchased.
                        </div>
                        <!-- END -->
                        <div class="md-purchase">
                            <p class="small bold">Estimated Savings: SGD {{md_promotion.estimated_value}}</p>
                            <p>
                            <a
                                href="javascript:;"
                                ng-click="gotoRedeem()"
                                title="Redeem"
                                class="btn btn-yellow">Redeem</a></p>
                            <p class="bold">Expires {{md_promotion.expire_on  | date:'dd MMM yyyy'}}</p>
                            <p>Visit outlet to redeem</p>
                        </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                      <p class="t-c">
                          <a href="#">Review Terms of Use</a>
                      </p>
                  </div>
                </div>
            </div>
        </script>
        <!-- Modal Offer -->
    </ion-content>


    <div class="bar bar-footer bar-balanced bg-gray">
        <ul>
            <li>
                <a href="#" title="Offers">
                    <i class="ico w20 ico-logo"></i>
                    Offers
                </a>
            </li>
            <li>
                <a href="#" title="Nearby">
                    <i class="fa fa-map-marker"></i>
                    Nearby
                </a>
            </li>
            <li>
                <a href="#" title="Favorites">
                    <i class="fa fa-star-o"></i>
                    Favorites
                </a>
            </li>
            <li>
                <a href="#" title="Savings">
                    <i class="fa fa-usd"></i>
                    Savings
                </a>
            </li>
            <li>
                <a href="#" title="Account">
                    <i class="fa fa-user"></i>
                    Account
                </a>
            </li>
        </ul>
    </div>
    <!-- END: FOOTER -->
</ion-view>
