<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.benefitmobile2414213" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Handbook</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">
      Ionic Framework Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <access origin="tel:*" launch-external="yes" />
  <access origin="mailto:*" launch-external="yes" />


  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <icon src="resources/icon.png" />
  <platform name="android">
    <splash src="resources/android/splash/drawable-mdpi/background.png" density="land-ldpi"/>
    <splash src="resources/android/splash/drawable-mdpi/background.png" density="land-mdpi"/>
    <splash src="resources/android/splash/drawable-hdpi/background.png" density="land-hdpi"/>
    <splash src="resources/android/splash/drawable-xhdpi/background.png" density="land-xhdpi"/>
    <splash src="resources/android/splash/drawable-xxhdpi/background.png" density="land-xxhdpi"/>
    <splash src="resources/android/splash/drawable-xxhdpi/background.png" density="land-xxxhdpi"/>
    <splash src="resources/android/splash/drawable-mdpi/background.png" density="port-ldpi"/>
    <splash src="resources/android/splash/drawable-mdpi/background.png" density="port-mdpi"/>
    <splash src="resources/android/splash/drawable-hdpi/background.png" density="port-hdpi"/>
    <splash src="resources/android/splash/drawable-xhdpi/background.png" density="port-xhdpi"/>
    <splash src="resources/android/splash/drawable-xxhdpi/background.png" density="port-xxhdpi"/>
    <splash src="resources/android/splash/drawable-xxhdpi/background.png" density="port-xxxhdpi"/>
  </platform>
</widget>
