<div id="myredeem" class="md-offer">
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
            {{outlets_promo.company_name}} : {{outlets_promo.promo_select.title}}
        </h4>
    </div>
    <div class="modal-body">
        <div class="md-body-inner">
            <div class="md-logo"><img ng-src="{{outlets_promo.logo}}" ng-alt="{{outlets_promo.company_name}}"></div>
            <!-- END LOGO -->
            <h2 class="md-ttl">Successfully Redeemed!</h2>
            <p>Redemption Code: {{red.code}}</p>
            <div class="md-purchase">
                <p class="small bold">Estimated Savings: SGD {{outlets_promo.promo_select.estimated_value}}</p>
                <!--<p><a href="#" title="Subscribe" class="btn btn-yellow">Subscribe</a></p>-->
                <!--<p>Subscribe and earn exclusive benefits or be the first to know of new promotions from this merchant</p>-->
            </div>
            <!--
            <div class="share-social">
                <p class="small">Share this with fiends</p>
                <ul class="clearfix social-box">
                    <li>
                        <a href="#" class="sc-face" title="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="sc-twitter" title="Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="sc-linkedin" title="Linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="sc-google" title="Google plus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="sc-share" title="Share">
                            <i class="fa fa-share-alt"></i>
                        </a>
                    </li>
                </ul>
            </div>
            -->
        </div>
    </div>
    <div class="modal-footer">
        <p class="t-c">
            <a href="#">Review Terms of Use</a>
        </p>
    </div>
</div></div>
