/* Empty. Add your own CSS if you like */
/* RESET CSS */
.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: inherit;
}
.t-c { text-align: center; }
.t-r { text-align: center; }
a, a:hover, a:focus{ color: #00a2ff; text-decoration: none; }
.item-complex .item-content, .item-radio .item-content {
    padding: 16px 16px 16px 16px;
}
/* ------------------------------ */
.bar.bar-energized {
    border-color: #e0d2ae;
    background-color: #e0d2ae;
    background-image: none;
    color: #444;
}
.bar.bar-energized .title, .bar-energized .button.button-clear{
    color: #333;
}

.logo {
	text-align: center;
	margin: 20px 0;
    height: 50px;
    background: url(../img/lgo.png) no-repeat center center;
    background-size: 40% auto;
}
.contact-list h2.title {
	font-size: 28px;
	text-transform: uppercase;
}
.welcome-box { font-size: 11px; }
.mmmenu .numb {
    float: right;
    background-color: #e0d2ae;
    font-size: 10px;
    padding: 0px 5px;
    border-radius: 10px;
    color: #333;
}
.mmmenu a:hover .numb {
    color: #333;
}
.mmmenu.active {
    background-color: #f4f4f4;
}
/* HANDBOOK PAGE */
.visual-header {
    height: 44px;
}
.logo {
    margin-bottom: 20px;
}
.logo a {
    display: block;
    height: 50px;
    background-color: #fff;
}
.logo a img {
    height: 90%;
    width: auto;
}
.content-page {
    overflow-y: auto;
    height: 100%;
    padding-bottom: 44px;
}
.sec-title {
    white-space: nowrap !important;
    font-size: 14px !important;
}
.section-ct {
    padding-bottom: 10px;
    border-bottom: 1px dashed #ddd;
    margin-bottom: 10px;
}
.section-ct.no-child {
    border-bottom: none;
}
.sub-section > h4 {
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 36px;
    border-bottom: 1px solid #ddd;
}
.sub-section {
    margin-bottom: 20px;
}
.in-page {
    margin: 10px;
}
.p-tabs {
    border: 1px solid #e0d2ae;
    background-color: #e0d2ae;
    display: table;
    width: 100%;
    box-sizing: border-box;
}
.p-tabs > a, .p-tabs > a:focus {
    display: table-cell;
    width: 50%;
    height: 40px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    color: #666;
}
.p-tabs > a.active {
    font-weight: bold;
    color: #666;
    border-bottom: 2px solid #666;
}

.sub-section table {
    border: 1px solid #ddd;
}
.sub-section table td {
    border: 1px solid #ddd;
    padding: 5px;
}
.sub-section-ct {
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
}
/* LOGIN PAGE */
.frm .invalid {
    background-color: #fff0f0;
}
.frm .login-btn {
    margin-top: 40px;
}
/* CONTACT PAGE */
.ctc-info { padding-top: 10px; }
.ctc-info p { margin-bottom: 10px; }

/* NOTIFICATION */
.msg-item {
    padding: 10px;
    /*margin-bottom: 10px;*/
    border-top: 1px solid #ddd;
}
.msg-item .meta-time {
    font-size: 11px;
    color: #999;
}
.msg-item.new {
    background-color: #f4f4f4;
}
