/* Empty. Add your own CSS if you like */
/* RESET CSS */
.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: inherit;
}
.t-c { text-align: center; }
.t-r { text-align: center; }
a, a:hover, a:focus{ color: #00a2ff; text-decoration: none; }
.item-complex .item-content, .item-radio .item-content {
    padding: 16px 16px 16px 16px;
}
.clearfix:after {
    content: '';
    clear: both;
    height: 0;
    width: auto;
    display: block;
}
.f-r { float: right; }
.item-content p.fimg, .item p.fimg {
    overflow: auto;
    text-overflow: ellipsis;
}
/* ------------------------------ */
/* CHANGE ------------------------------ */
.button.button-energized {
  background-color: #a30005;
  border-color: #a30005;
}
.button.button-energized.active, .button.button-energized.activated {
      border-color: #921115;
      background-color: #921115;
}
/* ------------------------------ */
.bar.bar-energized {
    border-color: #cfae79;
    background-color: #cfae79;
    background-image: none;
    color: #444;
}
.bar.bar-energized .title, .bar-energized .button.button-clear{
    color: #333;
}

.logo {
  text-align: center;
  margin: 20px 0;
    height: 60px;
    background: url(../img/lgo.png) no-repeat center center;
    background-size: 40% auto;
}
.contact-list h2.title {
  font-size: 28px;
  text-transform: uppercase;
}
.welcome-box { font-size: 11px; }
.mmmenu .numb {
    float: right;
    background-color: #cfae79;
    font-size: 10px;
    padding: 0px 5px;
    border-radius: 10px;
    color: #333;
}
.mmmenu a:hover .numb {
    color: #333;
}
.mmmenu.active {
    background-color: #f4f4f4;
}
/* HANDBOOK PAGE */
.visual-header {
    height: 44px;
}
.logo {
    margin-bottom: 20px;
}
.logo a {
    display: block;
    height: 60px;
    background-color: #fff;
}
.logo a img {
    height: 100%;
    width: auto;
}
.content-page {
    overflow-y: auto;
    height: 100%;
    padding-bottom: 44px;
}
.content-page h2 { font-size: 24px; }
.sec-title {
    white-space: nowrap !important;
    font-size: 14px;
}
.section-ct {
    padding-bottom: 10px;
    border-bottom: 1px dashed #ddd;
    margin-bottom: 10px;
    overflow-x: auto;
}
.section-ct.no-child {
    border-bottom: none;
}
.sub-section > h4 {
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 36px;
    border-bottom: 1px solid #ddd;
}
.sub-section {
    margin-bottom: 20px;
}
.in-page {
    margin: 10px;
}
.p-tabs {
    border: 1px solid #cfae79;
    background-color: #cfae79;
    display: table;
    width: 100%;
    box-sizing: border-box;
}
.p-tabs > a, .p-tabs > a:focus {
    display: table-cell;
    width: 50%;
    height: 40px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    color: #444;
}
.p-tabs > a.active {
    font-weight: bold;
    color: #444;
    border-bottom: 2px solid #444;
}

.sub-section table {
    border: 1px solid #ddd;
}
.sub-section table td {
    border: 1px solid #ddd;
    padding: 5px;
}
.sub-section-ct {
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
    font-size: 14px;
    color: #444;
    overflow-x: auto;

}
.sub-section-ct p {
    font-size: 14px;
    color: #444;
    margin-bottom: 15px;
}
.sub-section-ct ul {
    margin-bottom: 15px;
}
.sub-section-ct  ul li {
    margin-bottom: 10px;
}
.sub-section-ct ul , .sub-section-ct  ul li {
    list-style: disc inside;
}

.item .small-txt {
    font-size: 11px;
}
.hb-title {
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* LOGIN PAGE */
.frm .invalid {
    background-color: #fff0f0;
}
.frm .login-btn {
    margin-top: 40px;
}
/* CONTACT PAGE */
.ctc-info { padding-top: 10px; }
.ctc-info p { margin-bottom: 10px; }

/* NOTIFICATION */
.msg-item {
    padding: 10px;
    /*margin-bottom: 10px;*/
    border-top: 1px solid #ddd;
}
.msg-item .meta-time {
    font-size: 11px;
    color: #999;
}
.msg-item.new {
    background-color: #f4f4f4;
}
hr.line {
    margin: 10px 0;
    background: #ddd;
    height: 1px;
    border: none;
}

.l-tags .tag:after { content: ','; }
.l-tags .tag:last-child:after { content: ''; }

.item-icon-left .sec-title .icon,
.item-icon-right .sec-title .icon {
    font-size: 18px;
}

.list.menu-tab-page img {
    max-width: 100%;
}

/* SETTINGS ------------------------------------- */
.fz-12 {font-size:12px;}
.fz-14 {font-size:14px;}
.fz-16 {font-size:16px;}
.fz-18 {font-size:18px;}

.fz-12 .p-tabs,
.fz-14 .p-tabs,
.fz-16 .p-tabs,
.fz-18 .p-tabs {
    font-size: 14px;
}

.fz-12 .list.menu-tab-page,
.fz-12 .hb-title { font-size:12px; }
.fz-12 .item .small-txt { font-size:11px; }
.fz-12 .sec-title { font-size:12px; }
.fz-12 .item * { font-size:12px; line-height: 1.4; }

.fz-14 .list.menu-tab-page,
.fz-14 .hb-title { font-size:14px; }
.fz-14 .item .small-txt { font-size:13px; }
.fz-14 .sec-title { font-size:14px; }
.fz-14 .item * { font-size:14px; line-height: 1.4;}

.fz-16 .list.menu-tab-page,
.fz-16 .hb-title { font-size:16px; }
.fz-16 .item .small-txt { font-size:15px; }
.fz-16 .sec-title { font-size:16px; }
.fz-16 .item * { font-size:16px; line-height: 1.4;}

.fz-18 .list.menu-tab-page,
.fz-18 .hb-title { font-size:18px; }
.fz-18 .item .small-txt { font-size:17px; }
.fz-18 .sec-title { font-size:18px; }
.fz-18 .item * { font-size:18px; line-height: 1.4;}
/* PLATFORM */
.platform-ios .content-page {
    padding-top: 20px;
}
.load-nocache {
    background-color: #eee;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Zoom Popup IMG */
.sub-section-img {
    padding-top: 20px;
    position: relative;
}
.load-img-bg {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #eee;
    padding: 5px;
    font-size: 11px;
    line-height: 1;
}
.sec-img-itm {
  position: relative;
  background-color: #fff;
  z-index: 1;
  min-height: 50px;
}
.sec-img-itm img {
    max-width: 100%;
    height: auto;
}

.zoom-pane {
  width: 100%;
  height: 100%;
}


.zoom-pane .scroll {
  min-height: 100%;
  /* Vertical align */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;

  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.zoom-pane img {
  max-width: 100%;
  vertical-align: middle;
}

.scroll-content {
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}

.selectable {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.item-radio input:checked + .radio-content .radio-icon {
    visibility: visible;
}

/* PDF */
.pdf-controls { width: 100%; display: block; background: #eee; padding: 1em;}
.fixed { position: fixed; top: 0; left: calc(50% - 480px); z-index: 100; width: 100%; padding: 1em; background: rgba(238, 238, 238,.9); width: 960px; }
.toggle.toggle-dark input:checked + .track {
  border-color: #cfae79;
  background-color: #cfae79;
}
.pdf-f-ct .ion-android-clipboard {
  color : #bb1c1c;
}
.pdf-small {
  color: #999;
  font-size: 11px;
}
.pdf-f-ct {
  /* border-bottom: 1px solid #eee; */
  /* padding-bottom: 10px; */
  /* margin-bottom: 10px; */
}
.pdf-blk {
  margin-top: 15px;
  position: relative;
  border-radius: 4px;
  overflow:hidden;
}
.s-pdf {
  border: 1px solid #eee;
  padding: 10px;
  font-size: 11px;
  border-radius: 4px;
  background-color: #fff;
  position:relative;
  z-index: 1;
}
.s-pdf .toggle .track {
  width: 40px;
  height: 20px;
}
.s-pdf .toggle .handle {
    width: 14px;
    height: 14px;
    border-radius: 9px;
    background-color: #fff;
    top: 8px;
    left: 8px;
}

.mb2  {
  background-color: #222;
}
.mb2 .pageof {
  float: right;
  color: #fff;
  font-size: 12px;
  width: 20%;
}
.mb2 .pageof input[type="text"] {
  color: #fff;
  font-size: 12px;
  background-color: #222;
  display: inline-block;
  width: inherit;
  height: 36px;
  padding:0;
  text-align: center;
  margin-left: 5px;
}
.mb2 .button {
  width: auto;
  min-width: inherit;
  min-height: inherit;
  background-color: #333;
  margin-right: 1px;
  color: #fff;
  font-size:11px;
  border: none;
  border-radius: 0;
  line-height: 36px;
}
.button-blue {
  color: white;
  background-color: #0076df;
  border-radius: 3px;
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-property: box-shadow, background-color;
          transition-property: box-shadow, background-color;
}

.button-blue:hover {
  opacity: .875;
}

.button-blue:active,
.button-blue.is-active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, .125), inset 0 2px 3px 0 rgba(0, 0, 0, .25);
}

.button-blue:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, .5), 0 0 1px 4px rgba(0, 118, 223, .5);
}

.button-blue:disabled,
.button-blue.is-disabled {
  opacity: .5;
}

.button-blue-outline {
  line-height: 1;
  color: #0076df;
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid #0076df;
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-property: box-shadow, background-color;
          transition-property: box-shadow, background-color;
}

.button-blue-outline:hover,
.button-blue-outline.is-active {
  color: white;
  background-color: #0076df;
}

.button-blue-outline:active {
  box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, .25);
}

.button-blue-outline:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, .5), 0 0 1px 4px rgba(0, 118, 223, .5);
}

.button-blue-outline:disabled,
.button-blue-outline.is-disabled {
  color: #0076df;
  background-color: transparent;
  opacity: .5;
}

.button-gray {
  color: white;
  background-color: #777;
  border-radius: 3px;
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-property: box-shadow, background-color;
          transition-property: box-shadow, background-color;
}

.button-gray:hover {
  opacity: .875;
}

.button-gray:active,
.button-gray:is-active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, .125), inset 0 2px 3px 0 rgba(0, 0, 0, .25);
}

.button-gray:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 1px 4px rgba(0, 118, 223, .5);
}

.button-gray:disabled,
.button-gray.is-disabled {
  opacity: .5;
}

.button-red {
  color: white;
  background-color: #f95020;
  border-radius: 3px;
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-property: box-shadow, background-color;
          transition-property: box-shadow, background-color;
}

.button-red:hover {
  opacity: .875;
}

.button-red:active,
.button-red.is-active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, .125), inset 0 2px 3px 0 rgba(0, 0, 0, .25);
}

.button-red:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, .5), 0 0 1px 4px rgba(249, 80, 32, .5);
}

.button-red:disabled,
.button-red.is-disabled {
  opacity: .5;
}



.button-nav-light:hover {
  background-color: rgba(0, 0, 0, .0625);
}

.button-nav-light:active,
.button-nav-light.is-active {
  color: #333;
}

.button-nav-dark {
  color: white;
}

.button-nav-dark:hover {
  background-color: rgba(0, 0, 0, .125);
}

.button-nav-dark:active,
.button-nav-dark.is-active {
  background-color: rgba(0, 0, 0, .125);
}

.button-nav-tab {
  margin-bottom: -1px;
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid #ccc;
}

.button-nav-tab:hover {
  background-color: rgba(0, 0, 0, .0625);
}

.button-nav-tab.is-active {
  background-color: white;
  border-bottom: 1px solid white;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.dark-gray {
  color: #333;
}

.white {
  color: white;
}

.blue {
  color: #0076df;
}

.mid-gray {
  color: #777;
}

.light-gray {
  color: #ccc;
}

.lighter-gray {
  color: #eee;
}

.red {
  color: #f95020;
}

.green {
  color: #00cf26;
}

.yellow {
  color: #efcc00;
}

.bg-dark-gray {
  background-color: #333;
}

.bg-white {
  background-color: white;
}

.bg-blue {
  background-color: #0076df;
}

.bg-mid-gray {
  background-color: #777;
}

.bg-light-gray {
  background-color: #ccc;
}

.bg-lighter-gray {
  background-color: #eee;
}

.bg-red {
  background-color: #f95020;
}

.bg-green {
  background-color: #00cf26;
}

.bg-yellow {
  background-color: #efcc00;
}

.bg-darken-1 {
  background-color: rgba(0, 0, 0, .0625);
}

.bg-darken-2 {
  background-color: rgba(0, 0, 0, .125);
}

.bg-darken-3 {
  background-color: rgba(0, 0, 0, .25);
}

.bg-darken-4 {
  background-color: rgba(0, 0, 0, .5);
}

.border {
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

.border-top {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #ccc;
}

.border-right {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #ccc;
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ccc;
}

.border-left {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #ccc;
}

.rounded {
  border-radius: 3px;
}

.circle {
  border-radius: 50%;
}

.rounded-top {
  border-radius: 3px 3px 0 0;
}

.rounded-right {
  border-radius: 0 3px 3px 0;
}

.rounded-bottom {
  border-radius: 0 0 3px 3px;
}

.rounded-left {
  border-radius: 3px 0 0 3px;
}

.not-rounded {
  border-radius: 0;
}

/* Defaults */
.pdf-viewer-b {
  padding-top: 50px;
}
.pdf-viewer-toolbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.platform-android .pdf-z.zoom-pane .scroll {
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  
  -webkit-box-pack: initial;
  -moz-box-pack: initial;
  -webkit-justify-content: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  
  -webkit-box-align: initial;
  -moz-box-align: initial;
  -webkit-align-items: initial;
  -ms-flex-align: initial;
  align-items: initial;
}